[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
configprops = "*"
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"

[dev-packages]
twine = "*"
ipython = "*"
mypy = "*"
pipenv-setup = "*"
yapf = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
